body {
    background: #080808;
}

.active:hover {
    color: #f57c00;
    text-decoration: none;
}

.custom-link {
    color: #f57c00;

}
.navlink:hover {
    color: #b3b0ae;
    text-decoration: none;
}
.img-zindex {
    z-index: -1;
    opacity: 0.4;

}

.text-zindex {
    z-index: 1;
    overflow: hidden;
}

.control-overflow {
    overflow: hidden;
}

.textfield {
    background-color: white;
    color: rgb(235, 225, 225);
}

.file {
    height: 20%;
}